<md-toolbar class="md-table-toolbar" layout="row">
    <div class="md-toolbar-tools" layout>
        <span flex="20" layout="row">Items</span>
        <div flex layout="row" layout-align="end center">
            <md-input-container>
                <input ng-model="query.where[searchProperty].regexp" ng-change="getRecords()">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="searchProperty">
                    <md-option ng-repeat="property in searchProperties" value="{{property}}" ng-disabled="$index === 1">
                        {{property}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table ng-init="getRecords()" md-table md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getRecords">
        <tr md-row>
            <th md-column md-order-by="FullName" flex="30"><span>Name</span></th>
            <th md-column md-order-by="ManufacturerPartNumber" flex>Item No.</th>
            <th md-column md-order-by="ManufacturerPartNumber" flex>Price</th>
            <th md-column flex="10"><span class="pull-right">Actions</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select-id="name" ng-repeat="record in records track by $index">
            <td md-cell flex="30">{{record.Name}}</td>
            <td md-cell flex>{{record.ManufacturerPartNumber}}</td>
            <td md-cell flex>{{record.SalesPrice}}</td>
            <td md-cell flex="10">
                <md-button class="md-icon-button pull-right" ng-click="openEditRecord(record, 'item-inventory')" aria-label="Edit">
                    <md-icon class="fa fa-eye"></md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                     md-total="{{totalRecords.count}}" md-on-paginate="getRecords" md-page-select></md-table-pagination>
