<h2 class="md-headline">{{editOrNew}} Customer</h2>
<div layout="row">
    <md-input-container class="margin-top-30" flex="10">
        <label>Prefix</label>
        <input type="text" ng-model="activeRecord.Preffix">
    </md-input-container>
    <md-input-container class="margin-top-30" flex="35">
        <label>First Name</label>
        <input type="text" ng-model="activeRecord.FirstName">
    </md-input-container>
    <md-input-container class="margin-top-30" flex="10">
        <label>Middle Initial</label>
        <input type="text" ng-model="activeRecord.MiddleName">
    </md-input-container>
    <md-input-container class="margin-top-30" flex="35">
        <label>Last Name</label>
        <input type="text" ng-model="activeRecord.LastName">
    </md-input-container>

    <md-input-container class="margin-top-30" flex="10">
        <label>Suffix</label>
        <input type="text" ng-model="activeRecord.Suffix">
    </md-input-container>
</div>
<div layout="row">
    <md-input-container class="margin-top-30" flex>
        <label>Company Name</label>
        <input type="text" ng-model="activeRecord.CompanyName">
    </md-input-container>
</div>
<div layout="row">
    <md-input-container class="margin-top-30" flex="20">
        <label>Balance</label>
        <input type="text" ng-model="activeRecord.Balance">
    </md-input-container>
    <md-input-container class="margin-top-30" flex>
        <label>Email</label>
        <input type="text" ng-model="activeRecord.Email">
    </md-input-container>
    <md-input-container class="margin-top-30" flex>
        <label>Phone</label>
        <input type="text" ng-model="activeRecord.Phone">
    </md-input-container>
</div>