<h2 class="md-headline">{{editOrNew}} Sales Order</h2>
<md-divider></md-divider>
<div layout="row">
    <md-input-container flex="40">
        <label>Customer : Job</label>
        <md-select ng-model="activeRecord.CustomerRef.ListID">
            <md-option ng-repeat="customer in customers" ng-value="customer.ListID">
                {{customer.FullName}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container flex="15">
        <label>Sales Rep</label>
        <md-select ng-model="activeRecord.SalesRepRef.ListID">
            <md-option ng-repeat="salesRep in salesReps" ng-value="salesRep.ListID">
                {{salesRep.Initial}}
            </md-option>
        </md-select>
    </md-input-container>
    <lb-datepicker model="activeRecord.DueDate" label="Date"></lb-datepicker>
</div>
<div layout="row">
    <md-input-container flex="30">
        <label>Billing</label>
        <textarea ng-model="activeRecord.billAddressLines" rows="5" ng-trim="false" ng-list="&#10;"></textarea>
    </md-input-container>


    <md-input-container flex="30">
        <label>Shipping</label>
        <textarea ng-model="activeRecord.shipAddressLines" rows="5" ng-trim="false" ng-list="&#10;"></textarea>
    </md-input-container>
</div>

<md-table-container class="margin-top-10" style="background: #fafafa" flex>
    <table md-table flex>
        <thead md-head flex>
        <tr md-row flex>
            <th md-column></th>
            <th md-column flex="30">Name</th>
            <th md-column flex>Description</th>
            <th md-column flex="5">QTY</th>
            <th md-column flex="15">UM</th>
            <th md-column flex="5">Rate</th>
            <th md-column flex="10"><span>Total</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select-id="name" ng-repeat="record in activeRecord.SalesOrderLineMod track by $index" ng-controller="SalesOrderLineItemController">
            <td md-cell> <md-icon ng-click="removeLineItem($index)" class="fa fa-trash"></md-icon></td>
            <td md-cell flex="30">
                <md-autocomplete
                        md-selected-item="record.ItemRef"
                        md-search-text-change="searchItemChange(searchItemText)"
                        md-search-text="searchItemText"
                        md-items="item in itemQuerySearch(searchItemText)"
                        md-selected-item-change="lineItemChanged(item, $index)"
                        md-item-text="item.FullName"
                        md-min-length="0"
                        placeholder="Start typing item name"
                        md-floating-label="Item">
                    <md-item-template>
                        <span md-highlight-text="searchItemText" md-highlight-flags="^i">{{item.FullName}}</span>
                    </md-item-template>
                    <md-not-found>
                        No items matching "{{searchItemText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </td>
            <td md-cell flex>
                <md-input-container>
                    <label>Description</label>
                    <input type="text" ng-model="record.Desc">
                </md-input-container>
            </td>
            <td md-cell flex="5">
                <md-input-container>
                    <label>Quantity</label>
                    <input type="text" ng-model="record.Quantity">
                </md-input-container>
            </td>
            <td md-cell flex="10">{{record.UnitOfMeasure}}</td>
            <td md-cell flex="5">{{record.Rate}}</td>
            <td md-cell flex="10">{{record.Amount}}</td>
        </tr>
        </tbody>
        <tfoot md-foot>
        <tr md-row flex>
            <td md-cell colspan="6"></td>
            <td md-cell><strong>Total: {{activeRecord.Subtotal | number:2}}</strong></td>
        </tr>
        </tfoot>
    </table>
</md-table-container>
<div flex layout="row" layout-align="end center">
    <md-button ng-click="addNewLineItem()" class="md-primary md-link md-fab md-mini fa fa-plus"></md-button>
</div>
<div layout="row">
    <md-input-container flex="25">
        <label>Customer Message</label>
        <md-select ng-model="activeRecord.CustomerMsgRef.ListID">
            <md-option ng-repeat="customerMsg in customerMessages" ng-value="customerMsg.ListID">
                {{customerMsg.Name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex="30">
        <label>Memo</label>
        <input type="text" ng-model="activeRecord.Memo">
    </md-input-container>
</div>

<div class="pull-right">
    <md-button class="md-warn md-warn md-raised" ng-click="closeRecord()">cancel</md-button>
    <md-button class="md-primary md-raised" ng-click="saveRecord()" ng-disabled="disableSaveAction">save</md-button>
</div>