<md-toolbar class="md-table-toolbar" layout="row">
    <div class="md-toolbar-tools" layout>
        <span flex="20" layout="row">Sales Orders</span>
        <div flex layout="row" layout-align="end center">
            <md-input-container>
                <input ng-model="query.where[searchProperty].regexp" ng-change="getRecords()">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="searchProperty">
                    <md-option ng-repeat="property in searchProperties" value="{{property}}" ng-disabled="$index === 1">
                        {{property}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex="30" layout="row" layout-align="end center">
            <md-button ng-click="newRecord()" class="md-accent md-raised">New</md-button>
        </div>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table ng-init="getRecords()" md-table md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getRecords">
        <tr md-row>
            <th md-column md-order-by="RefNumber"><span>#</span></th>
            <th md-column md-order-by="CustomerRef.FullName" flex="30"><span>Customer</span></th>
            <th md-column flex>Sales REP</th>
            <th md-column flex>Total Amount</th>
            <th md-column flex="10"><span class="pull-right">Actions</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select-id="name" ng-repeat="record in salesOrders track by $index"  ng-class="{'orange':!record.EditSequence}">
            <md-tooltip ng-if="!record.EditSequence">Estimate is still syncing into QuickBooks</md-tooltip>
            <td md-cell flex="30">{{record.RefNumber}}</td>
            <td md-cell flex="30">{{record.CustomerRef.Name}}</td>
            <td md-cell flex>{{record.SalesRepRef.Initial}}</td>
            <td md-cell flex>{{record.TotalAmount}}</td>
            <td md-cell flex="10">
                <a class="md-button md-icon-button md-button-link" ui-sref="root.app.salesOrder({id:record.id, TxnID: record.TxnID})" aria-label="Edit">
                    <md-icon class="fa fa-edit"></md-icon>
                    <md-tooltip>Edit</md-tooltip>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                     md-total="{{totalRecords.count}}" md-on-paginate="getRecords" md-page-select></md-table-pagination>
