<div layout="row" layout-fill layout-align="center center"
     style="background-image: url('../images/backgrounds/6.jpg'); background-size: cover">
    <div flex="35" flex-md="45" flex-sm="80" flex-xs="100">
        <md-card>
            <md-toolbar layout="column" layout-align="center center">
                <h2 layout-margin="0">Login</h2>
            </md-toolbar>
            <md-content class="md-padding">
                <form name="loginForm" layout="column">

                    <md-input-container>
                        <label>Email</label>
                        <input name="email" type="email" ng-model="email" required/>
                        <div ng-messages="loginForm.email.$error">
                            <div ng-message when="required"><span>Oops, you forgot this.</span></div>
                            <div ng-message when="email"><span>Invalid email</span></div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Password</label>
                        <input name="password" type="password" ng-model="password" required/>
                        <div ng-messages for="loginForm.password.$error">
                            <div ng-message when="required"><span>Oops, you forgot this.</span></div>
                        </div>
                    </md-input-container>

                    <md-button class="md-raised md-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Login
                    </md-button>

                </form>
            </md-content>
        </md-card>
    </div>
</div>
